<div class='container'>
<% if @orders.any? %>
	<% @orders.each do |order| %>
		<p>Order n° <%= order.number %></p>
		<p>Email: <%= order.user.email %></p>
		<P>Item: <%= link_to order.post.title, '/posts' %></P>
	<% end %>
<% else %>
<h2>No orders received yet.</h2>
<%end %>
</div>