<% if @posts.any? %>
	<% @posts.each do |post| %>
		<h1><%=post.title %></h1>
		<p><%= post.description %></p><br>
		<p><%= image_tag post.image.url, class: 'uploaded-pic'%></p><br>
	<% end %>
<% else %>
	<h1>No posts yet.</h1><br>
<% end %>
<%=	 link_to 'New Post', new_post_path %>